configuration {
   modi: "drun,window,calc,p:'power-menu',wal:'wal-switcher'";
   font: "JetBrains Mono 12";
   terminal: "kitty";
   display-drun: "Apps ";
   display-window: "Window ";
   display-calc: "Calc ";
   display-p: "Powermenu ";
   display-wal: "Wallpaper ";
   sidebar-mode: true;
}

@import "~/.cache/wal/colors-rofi-light"
